<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BookMyFlights", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        -->

                    <li>@Html.ActionLink("Send Email with attachment", "Index", "SendEmailWithFile")</li>
                    <li>@Html.ActionLink("Generate invoice PDF from URL", "GeneratePDF", "Home")</li>


                    <!--

                        @if (User.Identity.IsAuthenticated)
                        {
                            //ADMIN MENUS
                            if (User.IsInRole("Admin"))
                            {
                                <li>@Html.ActionLink("Admin menu Send Email", "Send_Email", "Email")</li>
                                <li>
                                    <a href="">Manage</a>
                                    <ul class="dropdown">
                                        <li>@Html.ActionLink("Manage Users", "Index", "AspNetUsers")</li>
                                        <li>@Html.ActionLink("Manage Flights", "Index", "Flights")</li>
                                        <li>@Html.ActionLink("Manage Bookings", "Index", "Bookings")</li>
                                    </ul>
                                </li>
                            }
                            //LOGGED-IN USER MENU
                            else
                            {
                                <li>@Html.ActionLink("My bookings", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Offers", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                            }
                        }
                        else
                        {
                            //GENERAL USER MENU
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }


        -->



                </ul>
                <!--@Html.Partial("_LoginPartial")-->

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
